[Desktop Entry]

Name=Freetube
Exec=/home/user/applications/freetube/freetube.AppImage
Icon=/home/user/applications/freetube/freetube.png
Type=Application
